/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}



.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  z-index: 100;
  transition: all 0.5s ease;
  background: rgb(105, 255, 255);
}

.sidebar.close {
  width: 78px;
}

.sidebar .logo-details {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}

.sidebar .logo-details i {
  font-size: 30px;
  color: #11101d;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}

.sidebar .logo-details .logo_name {
  font-size: 22px;
  color: mediumblue;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}

.sidebar.close .logo-details .logo_name {
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-links {
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}

.sidebar.close .nav-links {
  overflow: visible;
}

.sidebar .nav-links::-webkit-scrollbar {
  display: none;
}

.sidebar .nav-links li {
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}

.sidebar .nav-links>li.active:before,
.sidebar .nav-links>li:before {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  width: 4px;
  height: 100%;
  background: #93181a;
  opacity: 0;
  transition: all 0.25s ease-in-out;
  border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}

.sidebar .nav-links li.active:before,
.sidebar .nav-links li:hover:before {
  opacity: 1;
}

.sidebar .nav-links li .iocn-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar.close .nav-links li .iocn-link {
  display: block
}

.sidebar .nav-links li i {
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #11101d;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar .nav-links li.active i,
.sidebar .nav-links li:hover i {
  color: #93181a;
}

.sidebar .nav-links li.showMenu i.arrow {
  transform: rotate(-180deg);
}

.sidebar.close .nav-links i.arrow {
  display: none;
}

.sidebar .nav-links li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.sidebar .nav-links li a .link_name {
  font-size: 16px;
  font-weight: 400;
  color: #000;
  transition: all 0.4s ease;
}

.sidebar .nav-links li.active a .link_name,
.sidebar .nav-links li:hover a .link_name {
  color: #93181a;
}

.sidebar.close .nav-links li a .link_name {
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-links li .sub-menu {
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: rgb(105, 255, 255);
  display: none;
}

.sidebar .nav-links li.showMenu .sub-menu {
  display: block;
}

.sidebar .nav-links li .sub-menu a {
  color: #000;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}

.sidebar .nav-links li .sub-menu a:hover {
  opacity: 1;
}

.sidebar.close .nav-links li .sub-menu {
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}

.sidebar.close .nav-links li:hover .sub-menu {
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}

.sidebar .nav-links li .sub-menu .link_name {
  display: none;
}

.sidebar.close .nav-links li .sub-menu .link_name {
  font-size: 18px;
  opacity: 1;
  display: block;
}

.sidebar .nav-links li .sub-menu.blank {
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-links li:hover .sub-menu.blank {
  top: 50%;
  transform: translateY(-50%);
}

.sidebar .profile-details {
  position: fixed;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #000;
  padding: 12px 0;
  transition: all 0.5s ease;
}

.sidebar.close .profile-details {
  background: none;
}

.sidebar.close .profile-details {
  width: 78px;
}

.sidebar .profile-details .profile-content {
  display: flex;
  align-items: center;
}

.sidebar .profile-details img {
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: #000;
  transition: all 0.5s ease;
}

.sidebar.close .profile-details img {
  padding: 10px;
}

.sidebar .profile-details .profile_name,
.sidebar .profile-details .job {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  white-space: nowrap;
}

.sidebar .profile-details .job {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  opacity: .5;
  white-space: nowrap;
}

.sidebar .profile-details i.bx {
  min-width: 50px;
}

.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job {
  display: none;
}

.sidebar .profile-details .job {
  font-size: 12px;
}

/* SECTION */
.home-section {
  position: relative;
  background: white;
  /* height: 100vh; */
  height: auto;

  left: 210px;
  width: calc(100% - 0.1px);
  transition: all 0.5s ease;
}

.sidebar.close~.home-section {
  left: 35px;
  width: calc(100% - 0.1px);
}

.home-section .home-content {
  /* height: 60px; */
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}


.home-section .home-content .bx-menu,
.home-section .home-content .text {
  color: #000;
  font-size: 35px;
}

.home-section .home-content .bx-menu {
  margin: 0 15px;
  cursor: pointer;
}


.home-section .home-content nav.sumr {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
}

.home-section .home-content nav.sumr a {
  flex: 1;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  background-color: white;
  color: #000;
  border-radius: 4px;
  width: 200px;
  height: 170px;
  margin-left: 20px;
  margin-right: 20px;
  /* text-align: center; */
  text-decoration: none;
  transition: all 0.5s ease-out;
}

/* .home-section .home-content nav a i {
  bottom: 0.5px;
  right: 0;
} */

.home-section .home-content nav.sumr a:hover,
.home-section .home-content nav.sumr a:focus {
  height: 175px;
  background-image: linear-gradient(#ffd6d4, #FFFFFF);
  color: rgb(104, 104, 255);
}



.home-section .home-content nav.sumr a p.NumS {
  font-weight: bold;
  font-size: 20px;
  padding-left: 15px;
  padding-top: 9px;
}

.home-section .home-content nav.sumr a p.TextS {
  font-weight: 500;
  font-size: 15px;
  padding-left: 15px;
}

.home-section .home-content nav.sumr:after {
  content: "";
  display: table;
  clear: both;
}

.home-section .home-content div.rowSec {
  width: 100%;
}

.home-section .home-content div.rowSec div.columnSec1 {
  float: left;
  width: 50%;
  padding: 10px;
}

.home-section .home-content div.rowSec div.columnSec2 {
  float: right;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.home-section .home-content div.rowSec:after {
  content: "";
  display: table;
  clear: both;
}

.home-section .home-content div.rowStock {
  width: 100%;
}

.home-section .home-content div.rowStock div.columnStock1 {
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
  float: left;
  width: 75%;
  padding: 10px;
  color: brown;
}

.home-section .home-content div.rowStock div.columnStock2 {
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
  border-radius: 8px;
  float: right;
  width: 25%;
  padding: 10px;
}
.home-section .home-content div.rowStock div.columnStock2 div.summaryBox{
  background-color: rgb(235, 235, 235);
   box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
   border-radius: 8px;
   padding-left: 17px;
  
}

.home-section .home-content div.rowStock div.columnStock2 div.pie {
  height: 150px;
  width: 150px;
  aspect-ratio: 1;
  position: relative;
  display: inline-grid;
  place-content: center;
  margin: 5px;
  font-size: 25px;
  font-weight: bold;
  font-family: sans-serif;
}

.home-section .home-content div.rowStock div.columnStock2 div.pie:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 0;
  background: conic-gradient(var(--main-color) calc(var(--percentage)*1%), #0000 0);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(99% - var(--border-thickness)), #000 calc(100% - var(--border-thickness)));
  mask: radial-gradient(farthest-side, #0000 calc(99% - var(--border-thickness)), #000 calc(100% - var(--border-thickness)));
}



/* Clear floats after the columns */
.home-section .home-content div.rowSec:after {
  content: "";
  display: table;
  clear: both;
}

/* invoice */
.home-section .home-content div.rowInv {
  width: 100%;
}

.home-section .home-content div.rowInv div.columnInv1 {
  float: left;
  width: 70%;
  padding: 10px;
}

.home-section .home-content div.rowInv div.columnInv2 {
  float: right;
  width: 30%;
  padding: 10px;
}

/* Clear floats after the columns */
.home-section .home-content div.rowInv:after {
  content: "";
  display: table;
  clear: both;
}



/* Style the footer */
div.footer {

  background-color: rgb(1, 1, 37);
  padding: 10px;
  text-align: center;
  color: white;
  width: 100%;
  /* height: 290px; */
  left: 210px;
  width: calc(100% - 0.1px);
  transition: all 0.5s ease;
}

.sidebar.close~.div.footer {
  left: 35px;
  width: calc(100% - 0.1px);
}

div.footer div.row div.column1 {
  float: left;
  width: 37%;
  padding: 10px;
}

div.footer div.row div.column2 {
  float: right;
  width: 21%;
  padding: 10px;

}

div.footer div.row div.column3 {
  float: right;
  width: 21%;
  padding: 10px;
}

div.footer div.row div.column4 {
  float: right;
  width: 21%;
  padding: 10px;
}

div.footer div.row div.column2 p {
  font-size: 15px;

}

div.footer div.row div.column3 p {
  font-size: 15px;

}

div.footer div.row div.column4 p {
  font-size: 15px;

}


div.footer div.coppyRight {
  text-align: right;
  font-size: 13px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media (max-width: 420px) {
  .sidebar.close .nav-links li .sub-menu {
    display: none;
  }
}